@charset "UTF-8";


html{
    background: url('https://images.pexels.com/photos/932261/pexels-photo-932261.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-attachment: fixed;
}
header{
    
}
nav {
    display: block;
  }
p{
    color: rgb(203, 164, 80);
}
