@charset "UTF-8";


html{
    background: url('https://images.pexels.com/photos/932261/pexels-photo-932261.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-attachment: fixed;
}
header nav{
    border: 5px solid black;
    border-radius: 10px; 
    background-color: red;
    text-align: center;

    padding: 10px;
}
.nav a{
    padding: 30px 30px;
    width: 100%;
}
nav a {
    text-decoration: none;
    color: white;
}
body{
    background: rgba(255, 255, 255, .5);
    text-align: center;
}
h1 {
    color: rgb(203, 164, 80);
}
p{
    color: rgb(203, 164, 80);
}
